:host {
  box-sizing: border-box;
  display: block;
  padding: 20px;
  width: 100%;
  background: #fff;
  transition: .1s ease all;
  cursor: pointer;
}

:host:not(:last-child) {
  border-bottom: 1px solid #ccc;
}

:host(:hover),
:host([selected]) {
  background: fade-out(blue, .7);
}
