:host {
  position: fixed;
  top: var(--parent-height);
  left: var(--parent-left);
  right: var(--parent-right);
  width: var(--parent-width);
  border: 1px solid #000;
  overflow: hidden;
  background: #fff;
}

